@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.prune-cache {
  display: none;
}

.prune-cache-2 {
  display: none;
}

.font-x {
  font-family: "Varela Round", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url(../../public/font/FontsFree-Net-SFProText-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro";
  src: url(../../public/font/sf-pro-text-bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro";
  src: url(../../public/font/sf-pro-text-heavy.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "SF Pro";
  src: url(../../public/font/sf-pro-text-light.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro";
  src: url(../../public/font/sf-pro-text-medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro";
  src: url(../../public/font/sf-pro-text-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro";
  src: url(../../public/font/sf-pro-text-semibold.ttf);
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SF Pro" !important;
}

*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-bowlby {
  font-family: "Bowlby One", sans-serif !important;
}

/* border grandient for nav bar */
.dark\:gradient-border-mask:where(.dark, .dark *) {
  display: flow-root;
  position: relative;
  backdrop-filter: blur(10px) brightness(50%);
  box-shadow: 0px 3px 0px #fff;
  border: 1px solid #fff;
}

/* border grandient for mission item */
.dark\:gradient-border-mask-mission:where(.dark, .dark *) {
  display: flow-root;
  position: relative;
  backdrop-filter: blur(10px) brightness(50%);
  box-shadow: 0px 3px 0px #fff;
  border: 1px solid #fff !important;
}

/* gradient for storage btn */
.dark\:gradient-border-mask-storage:where(.dark, .dark *) {
  padding: 2px;
  display: flow-root;
  position: relative;
  backdrop-filter: blur(10px) brightness(50%);
  overflow: hidden;
}
.dark\:gradient-border-mask-storage:where(.dark, .dark *)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  background: linear-gradient(90deg, #ffffff, #ffffff) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

/* gradient for mission item */
.dark\:gradient-border-mask-mission-item:where(.dark, .dark *) {
  display: flow-root;
  position: relative;
  box-shadow: 0px 3px 0px #fff;
  border: 1px solid #fff !important;
}

/* gradient for leaderboard */
.dark\:gradient-border-mask-leaderboard:where(.dark, .dark *) {
  display: flow-root;
  position: relative;
  backdrop-filter: blur(10px) brightness(50%);
}
.dark\:gradient-border-mask-leaderboard:where(.dark, .dark *)::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 2px solid transparent;
  background: linear-gradient(90deg, #ffffff, #ffffff) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.slide-in {
  animation: slideUp 0.05s ease 0s 1 normal forwards !important;
}

@keyframes slideUp {
  0% {
    bottom: -570px;
  }

  100% {
    bottom: 0;
  }
}

.btn-slide-in {
  animation: btnSlideUp 0.3s ease 0s 1 normal forwards !important;
}

@keyframes btnSlideUp {
  0% {
    bottom: -570px;
  }

  100% {
    bottom: 40px;
  }
}

.star1 {
  width: 2px;
  height: 2px;
  z-index: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 50%;
}

.MuiLoadingButton-root {
  background-color: #b1b1b1 !important;
}

.Toastify__toast {
  max-width: fit-content !important;
  display: flex;
  align-items: center;
  padding: 0 !important;
  max-height: 60px !important;
  min-height: unset !important;
}

.Toastify__toast-body {
  margin: 0 !important;
  padding: 5px 10px !important;
  font-weight: 600;
  color: #000;
  height: 40px !important;
  text-align: left !important;
  font-size: 16px !important;
}

.Toastify__close-button {
  display: none;
  height: 48px;
  font-size: 17px;
  opacity: 1 !important;
}

.Toastify__toast-icon {
  display: none !important;
}

.MuiTooltip-tooltip {
  background-color: white !important;
  max-width: 398px;
  min-width: 230px;
  color: black !important;
  margin-top: 14px !important;
  border-radius: 14px !important;
  box-shadow: 0px 2px 5px #c5c5c5;
}

.MuiTooltip-popper {
  max-width: 398px;
  min-width: 230px;
}

.MuiTooltip-arrow::before {
  background-color: #fff !important;
  box-shadow: 0px 2px 5px #c5c5c5;
}

.box-tooltip {
  .MuiTooltip-popper {
    transform: translate3d(0px, -115px, 0px) !important;
  }
  .MuiTooltip-arrow {
    transform: translate3d(60px, 0px, 0px) !important;
  }
}

.dark\:radial-bg:where(.dark, .dark *) {
  /* background: rgb(99, 209, 104); */
  background: radial-gradient(
    circle,
    rgba(99, 209, 104, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.btn-hover:active {
  transform: translateY(4px);
  filter: drop-shadow(0px 0px 0px) !important;

  /* Fix flickering on ios */
  border: none;
}

.dark\:btn-click:where(.dark, .dark *):active {
  transform: translateY(4px);
  box-shadow: 0px 0px 0px !important;
}

.animate-blink {
  background-color: #ffa928;
  animation: ping 1.15s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  0% {
    transform: scale(1.25);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.85);
    opacity: 0.15;
  }
}

.dance-human {
  animation: dance 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes dance {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.cm-avatar img {
  animation: shakeAvatar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* .cm-avatar img:nth-of-type(even) { animation-delay: .5s }
.cm-avatar img:nth-of-type(odd) { animation-delay: 10s } */

@keyframes shakeAvatar {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  5% {
    transform: translate(3px, 0) rotate(5deg);
  }
  10% {
    transform: translate(0, 0) rotate(0deg);
  }
  15% {
    transform: translate(-3px, 0) rotate(-5deg);
  }
  20% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.rotateVoting {
  animation: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  /* 50% {
    transform: rotate(180deg);
  } */
  100% {
    transform: rotate(360deg);
  }
}
.shake_calendar {
  animation-name: shake;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(2px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-2px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.liner_bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.dark\:dark_liner_bg:where(.dark, .dark *) {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.loadingProgress {
  box-sizing: content-box;
  height: 7px;
  position: relative;
  background: #f0f0f0;
}
.loadingProgress > span {
  display: block;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  background-color: #afe760;
  background-image: linear-gradient(
    center bottom,
    rgb(111, 255, 150) 37%,
    rgb(84, 240, 84) 69%
  );
  /* box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4); */
  position: relative;
  overflow: hidden;
}
.loadingProgress > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 4s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 50px 50px;
  }
  100% {
    background-position: 0 0;
  }
}

.paper-firework-appear {
  animation: appear 0.2s ease-in;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.box-appear {
  animation: box_appear 0.2s ease-in;
}

@keyframes box_appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.flare {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
